.ctnr
	width 100%
	max-width 992px 
	margin-right auto
	margin-left auto

	&.-xxs
		max-width 450px
	
	&.-xs
		max-width 615px

	&.-small
		max-width 820px

	&.-medium
		max-width 1024px
		
	&.-large
		max-width 1200px