div.profile
	.modal
		.form-group
			margin-left 0
			margin-right 0
		margin:auto;
		position:absolute;
		left: 50%;
		width:30em;
		height:auto;
		margin-top: -4em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		.form.label
			background-color: black
