div.profile
	.modal
		.group-nome
			display inline-block
		.group-cnpj
			display inline-block
		.group-estado
			display inline-block
		.group-cidade
			display inline-block
		.group-logradouro
			display inline-block
		.group-numero
			display inline-block
		.group-add
			display inline-block
		.group-cancel
			display inline-block
		.form-group
			margin-left 0
			margin-right 0
		margin:auto;
		position:absolute;
		left: 50%;
		width:30em;
		height:auto;
		margin-top: -4em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		.form.label
			background-color: black
